/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.page-bg {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-size: 18px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
}

button {
  padding: 12px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.app {
  text-align: center;
  padding: 20px;
}

.app-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.app-subtitle {
  font-size: 20px;
  margin-bottom: 20px;
  color: #ccc;
}



/* Navbar.css */
.navbar {
  background-color: #222222;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-link {
  margin: 0 15px;
  color: #ffffff;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

/*contact us*/
.contact-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center; /* Add this line to center horizontally */
  justify-content: center; 
  height: 75vh; 
}
.hade{
  color: #333;
}
.contact-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: #333;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #555;
}


.get-in-touch {
  margin-top: 20px;
  text-align: center;
  color: #007bff; 
}

.phone-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.phone-icon {
  margin-right: 10px;
  font-size: 24px;
}


/*navbar*/
nav {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #007bff; 
}

